@()(implicit request: RequestHeader, flash : Flash)
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Play</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/extra.css")">
</head>

<body>
<input type="hidden" id="ws-route" value="@routes.WebSocketChat.socket.absoluteURL()">
<!-- 	<div class="blog">Visit <a href="#" target="_blank">My Blog</a></div> -->
<div class="container">
    <div class="chat_box">
        <div class="head">
            <div class="user">
                <div class="avatar">
                    <img src="https://picsum.photos/g/40/40" />
                </div>
                <div class="name">Kai Cheng</div>
            </div>
            <ul class="bar_tool">
                <li><span class="alink"><i class="fas fa-phone"></i></span></li>
                <li><span class="alink"><i class="fas fa-video"></i></span></li>
                <li><span class="alink"><i class="fas fa-ellipsis-v"></i></span></li>
            </ul>
        </div>
        <div class="body">
<!--            <div class="typing">-->
<!--                <div class="bubble">-->
<!--                    <div class="ellipsis dot_1"></div>-->
<!--                    <div class="ellipsis dot_2"></div>-->
<!--                    <div class="ellipsis dot_3"></div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="foot">
            <input type="text" class="msg" id="chat-input" placeholder="Type a message..." />
            <button type="submit"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
</div>
<script src="@routes.Assets.versioned("javascripts/extra.js")" type="text/javascript"></script>
</body>

</html>